.overlay{
    background: radial-gradient(41.62% 41.62% at 50% 47.33%, rgba(103, 104, 218, 0.697) 0%, rgba(61, 57, 131, 0.61582) 45%, rgba(10, 0, 24, 0.5166) 100%);

opacity: 0.76;
height: 960px;
width: 960px;
left: -413px;
top:0px


}

.overlay2{
    background: radial-gradient(41.62% 41.62% at 50% 47.33%, rgba(136, 134, 205, 0.82) 0%, rgba(10, 0, 24, 0.5166) 100%);
   
    opacity: 0.76;
    height: 960px;
    
}

.text-bg{
    background: linear-gradient(90deg, #CCCAEC 0%, #8886CD 72.6%);

}

.custom-border{
    border: 1px solid;

border-image-source: linear-gradient(82.58deg, #1A1466 -48%, #8886CD 98.57%);


}